
    

#top{
    padding: 40px;
    padding-top: 40px;
    padding-left: 40px;
  text-align: center;
  height: 150px;
  width: 260px;
  border: 10px solid red;
  border-radius: 20px;
  color: brown;
  font-style: italic;
  font-size: xx-large;
  padding-top: 10px;
  padding-left: 50px;
  margin-left: 500px;
  box-shadow: 10px 10px purple;
  text-shadow: 2px 2px purple;
}
#second{
    display: flex;
flex-wrap: wrap;
border: 10px solid yellow;
}
#second_first{
    width: 210px;
height: 200px;
padding: 2px;
border: 10px solid red;
font-size: 30px;
text-align: center;
color: brown;
font-style: italic;
box-shadow: 10px 10px purple;
margin: 20px;
border-radius: 15px;
text-shadow: 1px 2px purple;
}
#second_two{
    width: 200px;
height: 150px;
padding: 2px;
border: 10px solid red;
box-shadow: 10px 10px purple;
margin: 20px;
  margin-left: 20px;
border-radius: 15px;
padding-top: 30px;
padding-left: 10px;
padding-right:0px;
padding-bottom: 30px;
margin-left: 775px;
}
#my_img{
    width: 150px;
    height: 150px;
    border: 3px black;
    padding-bottom: 30px;
    
}
#second_three{
    width: 210px;
    height: 200px;
    padding: 2px;
    border: 10px solid red;
    font-size: 25px;
    text-align: center;
    color: brown;
    font-style: italic;
    box-shadow: 10px 10px purple;
    margin: 20px;
    border-radius: 15px;
    text-shadow: 1px 2px purple;
}

#second_four{
    width: 200px;
    height: 150px;
    padding: 2px;
    border: 10px solid red;
    box-shadow: 10px 10px purple;
    margin: 20px;
      margin-left: 20px;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right:0px;
    padding-bottom: 30px;
    margin-left: 775px;
}

#third{
    border: 10px solid purple;
width: 50%;
margin: auto;
  margin-top: auto;
  margin-bottom: auto;
margin-top: 25px;
margin-bottom: 50px;
background-color: green;
padding: 0px;
  padding-right: 0px;
padding-right: 0px;
    
}
#p{
    text-align: center;
    width: 35%;
    margin: auto;
    border: 10px solid rgb(97, 97, 4);
    background-color: rgb(187, 187, 57);
    color: red;
    font-style: italic;
    padding-right: 20px;
    padding-left: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 100px;
    left: 400px;
}    
#third_first{
  display: flex;
}
#thidrd-kk{
  border: 5px solid darkgreen;
  background-color: yellowgreen;
  width: 70%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
#third_second{
  border: 5px solid darkgreen;
background-color: yellowgreen;
width: 80%;
text-align: center;
font-style: italic;
font-weight: bold;
}
#third_last{
  width: 99%;
border: 5px solid darkgreen;
  border-right-color: darkgreen;
  border-right-style: solid;
  border-right-width: 5px;
border-right: 1px;
height: 290px;
background-color: yellowgreen;
text-align: center;
font-weight: bold;
font-style: italic;
margin-bottom: 0px;
}